<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>中软面试</title>
    <link rel="stylesheet" type="text/css" href="../../index/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../index/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../index/css/cs_interviewer.css">
</head>
<body>
<div class="container-box">
    <header class=" page-top">
        <div class="logo-box">
            <img src="../../index/images/logo.png" alt="" class="logo-img">
        </div>
        <p class="page-title">中软国际面试官</p>
    </header>
    <section>
        <div class="main-box">
            <p class="content-title">Search</p>
            <div class="input-box">
                <label class="input-label">CSI Recruiting Department</label>
                <input class="input-content" type="text">
            </div>
            <div class="input-box">
                <label class="input-label">Candidate Name</label>
                <input class="input-content" type="text">
            </div>
        </div>
        <div class="main-box">
            <p class="content-title">Basic Information</p>
            <div class="basic-input-box">
                <label>CSI Recruiting Department :</label>
                <div><input class="hide-input" readonly type="text" value="交付部"></div>
            </div>
            <div class="basic-input-box">
                <label>HSBC BU :</label>
                <input class="hide-input" readonly type="text" value="123">
            </div>
            <div class="basic-input-box">
                <label>Working Location :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>Candidate Mobile Number :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>University :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>Skills/Technology :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>Certification or Training :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>Lead Experience :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>Work Experience on MF/AS400 :</label>
                <input class="hide-input" readonly type="text">
            </div>
            <div class="basic-input-box">
                <label>Motivation of Change Job :</label>
                <input class="hide-input" readonly type="text">
            </div>
        </div>
        <!--反馈-->
        <div class="main-box">
            <p class="content-title">CSI Interview</p>
            <div class="input-box star-ex">
                <label class="input-label">Rating Explanation</label>
                <p>5 stars=Excellence</p>
                <p>4 stars=Very Good </p>
                <p>3 stars=Average </p>
                <p>2 stars=Poor</p>
                <p>1 stars=No Involving</p>
            </div>
            <div class="input-box">
                <label class="input-label">English Introduction</label>
                <p class="input-tips">检验应聘者英语能力，表达能力以及陈述是否与简历相符。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">English Speaking</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">English Listening</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">English Reading</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">English Writing</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Cantonese</label>
                <p class="input-tips">是否可以说粤语</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Existing Role</label>
                <p class="input-tips">根据简历和介绍的基本情况进行深入提问,可以要求举出实际的一个事例来说明应聘者谈到的当前角色中进行了什么活动或有什么样的能力。</p>
                <input class="input-content" type="text">
            </div>
            <div class="input-box">
                <label class="input-label">Domain Knowledge</label>
                <p class="input-tips">根据简历和介绍的基本情况进行深入提问,可以要求举出实际的一个事例来说明应聘者谈到的所做的业务领域知识是符真实。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">System Design</label>
                <p class="input-tips">根据简历和介绍的基本情况进行深入提问,可以要求举出实际的一个事例来说明应聘者谈到的所做的系统领域知识是符真实。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Technical</label>
                <div class="radio-box">
                    <input type="radio" value="Java" class="radio-input" name="gender">Java
                </div>
                <div class="radio-box">
                    <input type="radio" value="Mainframe" class="radio-input" name="gender">Mainframe
                </div>
                <div class="radio-box">
                    <input type="radio" value="AS400" class="radio-input" name="gender">AS400
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Technical 总分</label>
                <input class="input-content" type="text">
            </div>
            <div class="input-box">
                <label class="input-label">Motivation</label>
                <p class="input-tips">主要是希望了解应聘者希望工作的岗位、地点，应聘原因，对我公司和岗位熟悉程度。提前做好充分地准备是需要的，考察其是否用心。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Career Plan</label>
                <p class="input-tips">希望他们有比较长远工作和发展的打算。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Expession</label>
                <p class="input-tips">根据简历和介绍的基本情况进行深入提问,主要涉及项目内容和跳槽原因。希望从应聘者的过往经历和表达中发现应聘者的优缺点，考察其逻辑思维能力，团队合作等基本素质。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Question Asked</label>
                <p class="input-tips">很关键，不喜欢说“没问题”的人，因为可以看到员工的个性和创新能力，或者我们哪里做得不足的地方。如果是薪水问题，可以回答人事会有统一的标准和合约，可以适当避开。</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Finally Rating</label>
                <p class="input-tips">The Final Rate for the candidate（include Stars and Result）</p>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">If hired,when does the Candidate join?</label>
                <p class="input-tips">关心就职时间，超过一个月，要有特殊说明。</p>
                <input class="input-content" type="text" id="joinDate">
            </div>
            <div class="input-box">
                <label class="input-label">Result</label>
                <div class="radio-box">
                    <input type="radio" value="PASS" class="radio-input" name="gender">PASS
                </div>
                <div class="radio-box">
                    <input type="radio" value="Failure" class="radio-input" name="gender">Failure
                </div>
            </div>
        </div>
        <div class="submit-box">
            <button type="submit" class="submit-button">面试完成，触发通知</button>
        </div>
    </section>
</div>
<script src="../../index/js/jquery.min.js"></script>
<script src="../../index/js/jquery-ui.min.js"></script>
<script src="../../index/js/cs_interview.js"></script>
</body>
</html>