.box{
    position: absolute;
    left: 50%;
    top: 5%;
    width:699px;
    min-height:750px;
    margin: 0 0 0 -325px;
    box-shadow:0 0 10px #E5E8E9;
    -moz-box-shadow:0 0 10px #E5E8E9;
    -webkit-box-shadow:0 0 10px #E5E8E9;
    background: #f4f8fb;
    padding-bottom: 10px;
}
.page-top{
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#44abf5, endColorstr=#7a74fe)";/*IE8+*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#44abf5, endColorstr=#7a74fe);/*IE<9>*/
    background: -ms-linear-gradient(left, #44abf5, #7a74fe);    /* IE 10 */
    background: -webkit-linear-gradient(left,#44abf5,#7a74fe);
    background:-moz-linear-gradient(left, #44abf5, #7a74fe);
    background:-o-linear-gradient(left, #44abf5, #7a74fe);
    height:90px;
}
.page-title{
    font-size:26px;
    color:#fff;
    line-height: 90px;
    text-align: center;
}
.content-box{
    background: #fff;
    border:1px solid #E2E4E5;
    box-shadow:0 0 5px #E5E8E9;
    -moz-box-shadow:0 0 5px #E5E8E9;
    -webkit-box-shadow:0 0 5px #E5E8E9;
    min-height:50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin:30px 20px;
    position: relative;
    padding:20px;
}
.content-title{
    position:absolute;
    top:-20px;
    left:20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#74D0F9, endColorstr=#4AB1F6)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#74D0F9, endColorstr=#4AB1F6);
    background: -ms-linear-gradient(left, #74D0F9, #4AB1F6);
    background:-moz-linear-gradient(left, #74D0F9, #4AB1F6);
    background:-o-linear-gradient(left, #74D0F9, #4AB1F6);
    background:  -webkit-linear-gradient(top,#74D0F9,#4AB1F6);
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding:10px 20px;
    color:#fff;
    font-size:20px;
}
.input-box{
    margin-top:15px;
}
.input-box.first-box{
    margin-top:30px;
}
.input-title{
    color:#333;
    font-size:15px;
}
.input-content,.select-content{
    width: 290px;
    height: 34px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 14px;
    outline: none;
    margin-top: 6px;
    color: #929090;
}
.select-content{
    width:302px;
}
.input-tips{
    color:#ff6b98;
    font-size: 10px;
}
.radio-box{
    color: #929090;
    font-size: 14px;
}
.radio-input{
    width: 18px;
    height: 18px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    margin-top: 8px;
}
.radio-input.other-check{
    vertical-align: sub;
}
.input-content.other-input{
    margin-top: 0;
    width: 234px;
}
.table-wrap{
    width:580px;
    overflow-x: auto;
}
.cur-table{
    border-collapse: collapse;
    border:none;
    color: #929090;
    width:100%;
    overflow-x: auto;
}
.cur-table thead{
    background: #F6FAFF;
}
 th{
    font-size:14px;
    padding:5px 15px;
}
.cur-table td{
    border-bottom:1px solid #e6e6e6;
    padding:5px 15px;
}
.cur-table tbody input{
    height:28px;
    width:100px;
    border:1px solid #F0F0F0;
    color: #929090;
}
.add-tr{
    margin-top:8px;
    border:1px dashed #e6e6e6;
    text-align: center;
    padding:5px;
    color:#929090;
    font-size: 14px;
    cursor: pointer;
}
footer{
    text-align: center;
    padding-bottom: 10px;
}
.submit-button{
    padding:14px 40px;
    background: #44abf5;
    display: inline-block;
    color: #fff;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 0 5px #44abf5;
}
.submit-button:hover{
    background: #3D99DC;
}


@media screen and (max-width: 500px) {
    * {
        box-sizing: border-box;
    }

    .box {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        border: 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    .select-content{
        width:290px;
    }
    .table-wrap{
        width:293px;
    }

}