<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta  charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Detail Information</title>
    <link rel="stylesheet" type="text/css" href="../../index/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../index/css/common.css">
    <link rel="stylesheet" href="../../index/css/basic-info.css"/>
    <link rel="stylesheet" href="../../index/css/detail.css"/>
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<form action="detail" method="post"></form>
<div class="box">
    <div class="page-top">
        <p class="page-title">Detail&nbsp;Information</p>
    </div>
   <!--Basic Information--> 
    <div class="content-box">
        <p class="content-title">Basic&nbsp;Information</p>    
        <table class="table">
            <tr>
                <td>姓名：李军</td>
                <td>性别：男</td>
                <td>英文名：Michael</td>
                <td>ID Card：44122510</td>
            </tr>
            <tr>
                <td>电话：15129884931</td>
                <td>邮箱：lijunyffs@163.com</td>
                <td colspan="2">居住地：陕西省西安市未央区明光路</td>
            </tr>
            <tr>
                <td>学历：本科</td>
                <td>专业：电气工程及其自动化</td>
                <td colspan="2">毕业院校：陕西科技大学镐京学院</td>
            </tr>
            <tr>
                <td>HR：郝娜</td>
                <td>RM：王蓓</td>
                <td colspan="2">部门：财富WD</td>
            </tr>
            <tr>
                <td colspan="4">技术：Javascript NodeJS HTML CSS Vue AngularJS React</td>
            </tr>
            <tr>
                <td colspan="4">证书：CET-6 CET-4 IELTS</td>
            </tr>
            <tr>
                <td colspan="4">工作经历：无</td>
            </tr>
        </table>
    </div>
    <!--CSI Comments-->
    <div class="content-box">
        <p class="content-title">CSI&nbsp;Comments</p>    
        <table class="table">
            <tr>
                <td colspan="2">CSI面试官姓名：</td>
                <td colspan="4">CSI面试官邮箱：</td>
            </tr>
            <tr>
                <th rowspan="2" style="text-align: left;vertical-align: middle;">语言测评：</th>
                <td>听(英)</td>
                <td>说(英)</td>
                <td>读(英)</td>
                <td>写(英)</td>
                <td>粤语</td>
            </tr>
            <tr>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td colspan="2">业务领域：4</td>
                <td colspan="2">系统领域：4</td>
                <td colspan="2">技术领域：4</td>
            </tr>
            <tr>
                <td colspan="3">技术总分：5</td>
                <td colspan="3">最终结果：PASS</td>
            </tr>
        </table>
    </div>
    <!--HSBC Comments-->
    <div class="content-box">
        <p class="content-title">HSBC&nbsp;Comments</p>    
        <table class="table">
            <tr>
                <td colspan="2">HSBC面试官姓名：</td>
                <td colspan="3">HSBC面试官邮箱</td>
            </tr>
            <tr>
                <td>技术评分：4</td>
                <td>语言评分：3</td>
                <td>管理能力：2</td>
                <td>沟通能力：4</td>
                <td>领域评分：5</td>
            </tr>
            <tr>
                <td>最终结果：PASS</td>
                <td>被拒理由：无</td>
            </tr>
        </table>
    </div>
    <!--submit-->
    <footer>
        <button  type="submit" class="submit-button">面试完成，并触发通知</button>
    </footer>
</div>
</form>

<script src="../../index/js/jquery.min.js"></script>
<script src="../../index/js/jquery-ui.min.js"></script>
<script src="../../index/js/basic-info.js"></script>
</body>
</html>