<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta  charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>HSBC Interview</title>
    <link rel="stylesheet" type="text/css" href="/tp5/public/index/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/tp5/public/index/css/common.css">
    <link rel="stylesheet" href="/tp5/public/index/css/basic-info.css"/>
    <link rel="stylesheet" type="text/css" href="/tp5/public/index/css/cs_interviewer.css">
</head>
<body>

<div class="box">
    <div class="page-top" style="padding: 0">
        <p class="page-title">HSBC Interviewer</p>
    </div>
   <!--Content--> 
   <section>
    <form action="custSearch" method="get">
        <div class="main-box">
            <p class="content-title">Search</p>
            <div class="input-box">
                <label class="input-label">Candidate Name</label>
                <input class="input-content" name="candidate_name" type="text" value="{$custdata['cn_name']?$custdata['cn_name']:''}">
            </div>
            <div class="input-box">
                <label class="input-label">Mobile Phone</label>
                <input class="input-content" name="mobile_phone" type="text" value="{$custdata['phone']?$custdata['phone']:''}">
            </div>
            <div class="ser-box">
                <b></b>
                <button class="search-btn">search</button>
            </div>
        </div>

        <div class="main-box">
            <p class="content-title">Basic Information</p>
            <div class="basic-input-box">
                <label>CSI Recruiting Department :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['department']?$custdata['department']:''}">
            </div>
            <div class="basic-input-box">
                <label>Working Location :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['work_location']?$custdata['work_location']:''}">
            </div>
            <div class="basic-input-box">
                <label>Candidate Mobile Number :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['phone']?$custdata['phone']:''}">
            </div>
            <div class="basic-input-box">
                <label>University :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['university']?$custdata['university']:''}">
            </div>
            <div class="basic-input-box">
                <label>Skills/Technology :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['skills']?$custdata['skills']:''}">
            </div>
            <div class="basic-input-box">
                <label>Certification or Training :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['certification']?$custdata['certification']:''}">
            </div>
            <div class="basic-input-box">
                <label>Lead Experience :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['lead_experience']?$custdata['lead_experience']:''}">
            </div>
            <div class="basic-input-box">
                <label>Work Experience on MF/AS400 :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['mf_as400']?$custdata['mf_as400']:''}">
            </div>
            <div class="basic-input-box">
                <label>Motivation of Change Job :</label>
                <input class="hide-input" readonly type="text" value="{$custdata['change_job']?$custdata['change_job']:''}">
            </div>
        </div>
        </form>
        <!--反馈-->
        <form action="custfb" method="post">
        <div class="main-box">
            <p class="content-title">HSBC Interview</p>
            <div class="input-box star-ex">
                <label class="input-label">Rating Explanation</label>
                <p>5 stars=Excellence</p>
                <p>4 stars=Very Good </p>
                <p>3 stars=Average </p>
                <p>2 stars=Poor</p>
                <p>1 stars=No Involving</p>
            </div>
            <div class="input-box">
                <label class="input-label">Technical</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden" name="technical">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Language</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden" name="lang">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Management</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden" name="management">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Communication</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden" name="communication">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Domain</label>
                <div class="star-box">
                    <span></span>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <input class="input-content" type="hidden" name="domain">
                </div>
            </div>
            <div class="input-box">
                <label class="input-label">Finally Result</label>
                <div class="radio-box">
                    <input type="radio" class="radio-input" value="2" name="result">PASS
                </div>
                <div class="radio-box">
                    <input type="radio" class="radio-input" value="3" name="result">Failure
                </div>
            </div>
            <div class="input-box">
                <div class="input-title">Reject&nbsp;Reason<span style="color:red">*</span></div>
                <input type="text" name="reason" class="input-content">
            </div>
            <div class="input-box">
                <div class="input-title">Requirement&nbsp;for&nbsp;the&nbsp;Next&nbsp;Candidate</div>
                <input type="text" name="requirement" class="input-content">
            </div>
        </div>
        <div class="submit-box">
            <button type="submit" class="submit-button">面试完成，触发通知</button>
        </div>
        </form>
    </section>

</div>


<script src="/tp5/public/index/js/jquery.min.js"></script>
<script src="/tp5/public/index/js/jquery-ui.min.js"></script>
<script src="/tp5/public/index/js/cs_interview.js"></script>
</body>
</html>