<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta  charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../index/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../index/css/main.css">
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12 page-top">
            <p class="page-title">首页</p>
        </div>
    </div>
    <div class="row content-box">
        <div class="col-md-12 btn-box">
            <a class="add-btn" href="{:url('add')}">新增</a>
            <form class="search-box" action="main"  method='get'>
                <input class="top-search" type="text" name='keyword' placeholder="候选人姓名 / 电话" value="">
                <button class="search-btn">搜索</button>
            </form>
        </div>
        <!--table-->
        <div class="col-md-12 table-box">
            <table class="table table-hover table-bordered info-table">
                <tr class="info">
                    <th>ID</th>
                    <th>HR</th>
                    <th>RM</th>
                    <th>Candidate Name</th>
                    <th>Mobile Phone</th>
                    <th>CSI Interviewer</th>
                    <th>HSBC Interviewer</th>
                    <th>Step</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
                {volist name="basics" id="basic" key="key"}
                <tr>
                    <td>{$key}</td>
                    <td>{$basic->getData('hr')}</td>
                    <td>{$basic->getData('rm')}</td>
                    <td>{$basic->getData('cn_name')}</td>
                    <td>{$basic->getData('phone')}</td>
                    <td>{$basic->getData('csi_interviewer')}</td>
                    <td>{$basic->getData('hsbc_interviewer')}</td>
                    <td>{$basic->getData('step')}</td>
                    <td>{$basic->getData('status')}</td>
                    <td>
                        <a href="{:url('edit?id=' . $basic->getData('id'))}">编辑</a>
                        &nbsp;&nbsp;
                        <!--<a href="{:url('delete?id=' . $basic->getData('id'))}">删除</a>-->
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
    </div>
</body>
</html>